<!DOCTYPE html>
<html lang="en" itemscope="" itemtype="http://schema.org/WebPage" prefix="og: http://ogp.me/ns#">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script async src="https://inform.everyone.wtf/legal.min.js?float"></script>

        {{ $title := .Template.Globals.BlogTitle }}{{ if (.File.GetKey "title") }}{{ $title = print (.File.GetKey "title") " | " $title }}{{ end }}
        <title>{{ $title }}</title>
        <meta name="og:type" content="website">
        <meta itemprop="name" content="{{ $title }}">
        <meta name="og:title" content="{{ $title }}">
        <meta property="twitter:title" content="{{ $title }}">

        <link rel="stylesheet" href="/styles/latex.css">
        <link rel="stylesheet" href="/styles/global.css">
    </head>

    <body>
        <article itemscope="" itemtype="https://schema.org/Blog">
            <header>
                {{ $heading :=  .Template.Globals.BlogTitle }}{{ if (.File.GetKey "title") }}{{ $heading = (.File.GetKey "title") }}{{ end }}
                <h1 itemprop="name headline">{{ $heading }}</h1>

                {{ if .File.GetKey "date"}}
                <span>
                    <time datetime="{{ .File.GetKey "date" }}" itemprop="datePublished">{{ date (.File.GetKey "date") }}</time>
                </span>
                {{ end }}
                    
                {{ if (.File.GetKey "author") }}
                    <span itemprop="author" itemscope="" itemtype="https://schema.org/Person">
                        <span itemprop="name">
                            {{ if .File.GetKey "authorLink" }}
                                <a href="{{ .File.GetKey "authorLink" }}">{{ .File.GetKey "author" }}</a>
                            {{ else }}
                                {{ .File.GetKey "author" }}
                            {{ end }}
                        </span>
                    </span>
                {{ end }}

                <span aria-label="Navigation" itemscope="" itemtype="https://schema.org/SiteNavigationElement">
                    <a itemprop="url" href="/" target="_self">Home</a>
                </span>
            </header>
            
            <main>
                <hr>
                {{ .File.Body }}
            </main>
        </article>
    </body>

</html>