<!DOCTYPE html>
<html lang="en" itemscope="" itemtype="http://schema.org/WebPage" prefix="og: http://ogp.me/ns#">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{ $title := .Template.Globals.BlogTitle }}{{ if (.File.Metadata.title) }}{{ $title = print (.File.Metadata.title) " | " $title }}{{ end }}
        {{ $description := "" }}{{ if .File.Metadata.description }}{{ $description = .File.Metadata.description }}{{ end }}
        {{ $image := "" }}{{ if .File.Metadata.image }}{{ $image = .File.Metadata.image }}{{ end }}

        <title>{{ $title }}</title>

        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ $title }}">
        {{ if $description }}<meta property="og:description" content="{{ $description }}">{{ end }}
        {{ if $image }}<meta name="og:image" content="{{ $image }}">{{ end }}

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{ $title }}">
        {{ if $description }}<meta name="twitter:description" content="{{ $description }}">{{ end }}
        {{ if $image }}<meta name="twitter:image" content="{{ $image }}">{{ end }}

        <link rel="stylesheet" href="/styles/latex.css">
        <link rel="stylesheet" href="/styles/global.css">
    </head>

    <body class="latex-dark-auto">
        <nav>
            {{ if eq "index.html" .File.Path  }}
                <b>Home</b>
            {{ else }}
                <a itemprop="url" href="/" target="_self">Home</a>
            {{ end }}
        </nav>

            <header itemscope="" itemtype="https://schema.org/Blog">
                {{ $heading :=  .Template.Globals.BlogTitle }}{{ if (.File.Metadata.title) }}{{ $heading = (.File.Metadata.title) }}{{ end }}
                <h1 itemprop="name headline">{{ $heading }}</h1>

                {{ if .File.Metadata.date}}
                    <span>
                        <time datetime="{{ .File.Metadata.date }}" itemprop="datePublished">{{ date (.File.Metadata.date) }}</time>
                    </span>
                {{ end }}
                    
                {{ if .File.Metadata.author }}
                    <span itemprop="author" itemscope="" itemtype="https://schema.org/Person">
                        <span itemprop="name">
                            {{ if .File.Metadata.authorLink }}
                                <a href="{{ .File.Metadata.authorLink }}">{{ .File.Metadata.author }}</a>
                            {{ else }}
                                {{ .File.Metadata.author }}
                            {{ end }}
                        </span>
                    </span>
                {{ end }}
            </header>
            
            <main>
                <article>
                    {{ .File.Body }}
                </article>
            </main>

        <footer>
            <script src="https://inform.everyone.wtf/legal.min.js"></script>
        </footer>
    </body>

</html>