

/* nav */
nav {
   border-bottom: 1px solid var(--body-color);
   margin-bottom: 1em;
}

/* header */
header h1 {
    font-size: 42px;
}

header span {
    font-size: 16px;
    color: gray;
}

header span:not(:first-of-type)::before {
    content: " ⋅ "
}

/* main */
main {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: justify;
}

/* footer */

footer {
    border-top: 1px solid var(--body-color);
    padding-top: 1em;
    font-size: small;
}

footer::after {
    opacity: 0;
    transition: opacity 2s;
    display: block;
    font-size: xx-small;
    content: "There was supposed to be an easter egg here, but I decided against it. Didn't want to pollute your feed again, sorry Majorka.";
}

footer:hover::after {
    opacity: 1;
    transition-delay: 5s;
}

/* front page styles */
ul.posts li span {
    font-size: small;
    color: gray;
}

ul.posts li span::before {
    content: " ⋅ ";
}

.footnotes > hr{
    display: none;
}

body {
    max-width: 120ch;
}